body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  position: relative;
  font-family: "Outfit", sans-serif;
}
.background {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 2px 2px lightgrey;
  width: 20%;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 40%;
  border-radius: 10px;
  margin: auto;
}
#img-sec {
  margin: auto;
  width: 90%;
  padding: 0.5rem;
}
#img-sec img {
  width: 100%;
  border-radius: 15px;
}
.text p {
  color: hsl(220, 15%, 55%);
}
.text {
  color: hsl(218, 44%, 22%);
  text-align: center;
  padding: 5px 5px 5px 5px;
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .background {
    width: 70%;
    position: static;
    margin: 20% auto;
    padding: 0;
  }
  .text {
    font-size: 22px;
  }
  body {
    position: static;
    width: 100%;
    margin: auto;
  }
}
